<%= form_for(@guest) do |f| %>
  <% if @guest.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@guest.errors.count, "error") %> prohibited this guest from being saved:</h4>

      <ul>
      <% @guest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first %><br>
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :last %><br>
    <%= f.text_field :last %>
  </div>

  <div class="field">
    <%# f.label :guest_name %><br>
    <%# f.text_field :guest_name %>
  </div>

  <div class="field">
    <%# f.label :num_invited %><br>
    <%# f.number_field :num_invited %>
  </div>
  <div class="field">
    <%= f.label :likelihood %><br>
    <%= f.number_field :likelihood %>
  </div>
  <div class="field">
    <%= f.label :guest_category %><br>
    <%= f.text_field :guest_category %>
  </div>
  <div class="field">
    <%= f.label :rsvp_adults %><br>
    <%= f.number_field :rsvp_adults %>
  </div>
  <div class="field">
    <%= f.label :rsvp_children %><br>
    <%= f.number_field :rsvp_children %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :relationship %><br>
    <%= f.text_field :relationship %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_field :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
