<h3>Listing guests</h3>

<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Guest Name</th>
      <th>Num invited</th>
      <th>Likelihood</th>
      <th>Guest category</th>
      <th>Rsvp adults</th>
      <th>Rsvp children</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Relationship</th>
      <th>Comments</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @guests.each do |guest| %>
      <tr>
        <td><%= guest.first %></td>
        <td><%= guest.last %></td>
        <td><%= guest.guest_name %></td>
        <td><%= guest.num_invited %></td>
        <td><%= guest.likelihood %></td>
        <td><%= guest.guest_category %></td>
        <td><%= guest.rsvp_adults %></td>
        <td><%= guest.rsvp_children %></td>
        <td><%= guest.address %></td>
        <td><%= guest.city %></td>
        <td><%= guest.state %></td>
        <td><%= guest.zip %></td>
        <td><%= guest.relationship %></td>
        <td><%= guest.comments %></td>
        <td><%= link_to 'Show', guest %></td>
        <td><%= link_to 'Edit', edit_guest_path(guest) %></td>
        <td><%= link_to 'Destroy', guest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guest', new_guest_path %>
