<% if @guest %>
  <p>
    <strong>ID:</strong>
    <%= @guest.id %>
  </p>

  <p>
    <strong>First:</strong>
    <%= @guest.first %>
  </p>

  <p>
    <strong>Last:</strong>
    <%= @guest.last %>
  </p>

  <% if @guest.rsvp_adults.nil? %>
    <%= render 'confirm' %>
  <% else %>
    <p>
      <strong>You're RSVP'd for:</strong>
      <%= @guest.rsvp_adults %>
    </p>
  <% end %>
<% end %>