<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guest_category.name %>
</p>

<p>
  <strong>Default likelihood:</strong>
  <%= @guest_category.default_likelihood %>
</p>

<%= link_to 'Edit', edit_guest_category_path(@guest_category) %> |
<%= link_to 'Back', guest_categories_path %>
