<footer class="footer span12">
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Our Story", our_story_path %></li>
      <li><%= link_to "Wedding Party", wedding_party_path %></li>
      <li><%= link_to "Wedding Events", events_path %></li>
      <li><%= link_to "Accommodations", accommodations_path %></li>
      <li><%= link_to "Guestbook", guestbook_path %></li>
      <li><%= link_to "Regestries", registries_path %></li>
    </ul>
  </nav>
</footer>